{% extends "layout.html" %}

{% block title %}
    HIstory
{% endblock %}

{% block main %}
    <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">transacted</th>
    </tr>
  </thead>
  <tbody>
      {% for item in data %}
           <tr>
              <td>{{item.symbol}}</td>
              <td>{{item.shares}}</td>
              <td>{{"£{:,.2f}".format(item.price)}}</td>
              <td>{{item.time}}</td>
            </tr>
      {% endfor %}

  

  </tbody>
</table>
{% endblock %}